/* Estilos para títulos */
.sectionTitle {
  color: #152540;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: left;
}

/* Estilos gerais */
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Alinhamento do conteúdo */
  box-sizing: border-box;
  margin-left: 5%;
  flex-wrap: wrap;
}

.imageContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.dogImage {
  width: 720px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 0 1em #152540;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
  margin-top: 70px;
}

.dogName {
  color: #152540;
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: left;
  display: flex; /* Alterado para flex */
  align-items: center; /* Alinha verticalmente */
}

.dogBreed {
  font-size: 2rem;
  font-weight: lighter;
}

/* Adicionado espaço entre o nome e o ícone de denúncia */
.reportIcon {
  margin-left: 12px;
  cursor: pointer;
  color: #ff4d4d;
}

/* Alinhar os botões lado a lado */
.buttonContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.contactButton,
.backButton {
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px; /* Espaçamento entre os botões */
  margin-left: 14px;
}

.contactButton {
  background-color: #3d61ff;
  
}

.contactButton:hover {
  background-color: #2c4d85;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.backButton {
  background-color: #152540;
}

.backButton:hover {
  background-color: #2c4d85;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Estilos para os botões de compartilhamento */
.shareButtonContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.shareButton {
  border: none;
  background-color: #3d61ff;
  padding: 10px 40px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px; /* Espaçamento entre os botões */
}

.shareButton:hover {
  background-color: #2c4d85;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.details {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
  margin-right: 30%;
}

.detailItemPaw {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.iconPaw {
  margin-right: 6px;
  width: 50px;
  height: 50px;
}

.detailItemLocation {
  display: flex;
  align-items: center;
  margin: 25px 13px;
}

.iconLocation {
  margin-right: 20px;
  width: 24px;
  height: 28px;
}

.detailItemDescription {
  display: flex;
  margin: 25px 11px;
  margin-top: 30px;
  text-align: justify;
}

.iconDescription {
  margin-right: 15px;
  width: 30px;
  height: 30px;
}

/* Estilos para o modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}

.modalContent h2 {
  margin-bottom: 20px; /* Espaço abaixo do título */
  color: #152540; /* Cor do título */
}

/* Estilos para o formulário */
.form {
  display: flex;
  flex-direction: column; /* Coloca os itens em coluna */
  align-items: center; /* Alinha os itens ao centro */
  width: 100%; /* Largura total */
}

.form label {
  margin-bottom: 10px; /* Espaçamento entre os rótulos e o select */
  font-size: 1rem; /* Tamanho da fonte */
  color: #333; /* Cor do texto */
  text-align: left; /* Alinhamento do texto à esquerda */
  width: 100%; /* Largura total */
}

.form select {
  width: 100%; /* Largura total */
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Borda do select */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 1rem; /* Tamanho da fonte */
  margin-bottom: 20px; /* Espaçamento abaixo do select */
  color: #333; /* Cor do texto */
}

/* Estilo para o botão de enviar */
.submitButton {
  background-color: #3d61ff; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  padding: 8px 10px; /* Espaçamento interno */
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 1rem; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de ponteiro */
}

.selectBox {
  color: #333; /* Cor do texto, mais escura para melhor legibilidade */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Adicionando uma borda para distinguir melhor o select */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 1rem; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de ponteiro */
  width: 100%; /* Largura total, se necessário */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para destacar */
  background-color: #fff; /* Cor de fundo */
}

.selectBox:focus {
  outline: none; /* Remove o contorno padrão ao focar */
  border-color: #3d61ff; /* Cor da borda ao focar */
  box-shadow: 0 0 5px rgba(61, 97, 255, 0.5); /* Sombra ao focar */
}


.submitButton:hover {
  background-color: #2c4d85; /* Cor ao passar o mouse */
}

/* Estilo para o botão de fechar */
.closeButton {
  border: none;
  background-color: #152540;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px; /* Espaçamento acima do botão */
}

.closeButton:hover {
  background-color: #2c4d85; /* Cor ao passar o mouse */
}

/* Media Queries */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    margin: 0;
  }

  .imageContainer {
    padding: 50px;
  }

  .dogImage {
    width: 100%;
    height: auto;
  }

  .details {
    margin-right: 0;
  }

  .dogName {
    font-size: 2rem;
    text-align: center;
  }

  .dogBreed {
    font-size: 1.5rem;
  }

  .details {
    font-size: 1rem;
  }

  .contactButton,
  .backButton {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }

  .shareButton {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .imageContainer {
    padding: 20px;
    width: 320px;
  }

  .dogName {
    font-size: 1.5rem;
  }

  .dogBreed {
    font-size: 1.2rem;
  }

  .details {
    font-size: 0.9rem;
  }

  .contactButton,
  .backButton,
  .shareButton {
    padding: 8px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .dogName {
    font-size: 1.2rem;
  }

  .dogBreed {
    font-size: 1rem;
  }

  .details {
    font-size: 0.8rem;
  }

  .contactButton,
  .backButton,
  .shareButton {
    padding: 5px;
    font-size: 0.8rem;
  }

  .iconPaw,
  .iconLocation,
  .iconDescription {
    width: 20px;
    height: 20px;
  }
}
