.container {
    font-family: 'Inter', sans-serif;
    width: 98.9vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8vh 0vh;
}

.header  {
    font-weight: 900;
    font-size: 24px;
    color: #152540;
    margin-bottom: 40px;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 600px; /* largura total do formulário */
    border-radius: 5px;
    padding: 20px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px; /* Aumente aqui para mais espaço entre as linhas */
    width: 100%;
}


.inputContainer select,
.inputContainer input, 
.inputContainer textarea {
    padding: 8px;
    border: 1px solid #152540;
    border-radius: 5px;
    font-size: 15px;
    width: calc(100% - 16px); /* largura total menos o padding */
    box-sizing: border-box; /* Para garantir que o padding não afete a largura total */
}

.inputContainer input.wide,
.inputContainer_Select select.wide {
    width: 100%; /* Definindo a largura dos campos de tamanho e gênero para ocupar 100% */
}

.inputContainer textarea {
    height: 80px;
}

.inputContainer_Photo {
    margin-bottom: 10px;
}

.inputContainer_Photo input[type="file"] {
    width: calc(100% - 16px); /* largura total menos o padding */
    padding: 8px;
}

.button {
    background-color: #3d61ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #2c4d85;
}
