.create-album {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 50px;
    margin-bottom: 50px;
}

.create-album h2 {
    text-align: center;
}

.create-album label {
    display: block;
    margin: 10px 0 5px;
}

.create-album select,
.create-album input[type="text"],
.create-album textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
}

.create-album .upload-area {
    border: 2px dashed #007bff;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
}

.create-album .preview {
    display: flex;
    flex-wrap: wrap;
}

.create-album .photo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    background-color: #fff;
}

.create-album .preview img {
    margin-right: 10px;
}

.CreateAlbumButton {
    border: none;
    background-color: #3d61ff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    width: 150px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 37%;
}

.CreateAlbumButton:hover {
    cursor: pointer;
    color: #fff;
    background-color: #2c4d85;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Estilos para a seção de feedback de acesso negado */
.access-denied {
    text-align: center;
    margin-top: 30px;
}

.access-denied h2 {
    color: #d9534f; /* Cor de erro */
}

.access-denied p {
    margin: 15px 0;
    font-size: 1.1rem;
}

.access-denied button {
    background-color: #5bc0de; /* Cor do botão de redirecionamento */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.access-denied button:hover {
    background-color: #31b0d5; /* Tom mais escuro no hover */
}
